<div class="text-center">

    <h1>Energy-playlist </h1>


    <hr>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dNqMrTEbcPs" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/tutZKLeGrCs" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <br>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/2H1Gho3LOUE" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/gOsM-DYAEhY" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>