


<div class="container text-center gradient ">



                      <h1 class="pt-4" > Productivity Tracker<i class="fa fa-pencil  fa-lg" aria-hidden="true"></i></h1>

                      <div class="clock mb-5 p-3 text-success ">
                                      <span >
                                      <i class="fa fa-calendar  fa-lg bg-warning" aria-hidden="true"></i>
                                          {{date | date: 'short'}}
                                          </span>


                      </div>

                    <div class="my-5">
                              <div class="input-group input-group-lg ">

                                      <input type="text" [(ngModel)]="newtitle" class="form-control text-center input-field"
                                          value="ok" aria-label="Small"  placeholder="Enter new Task  " aria-describedby="inputGroup-sizing-sm"  (keyup.enter)="addtask()"  >


                                        <div class="input-group-append ">
                                          <button class="btn btn-outline-dark " type="button" (click)="addtask()" >Add  <i class="fa fa-sign-in" aria-hidden="true"></i></button>
                                        </div>


                              </div>

                    </div>


          <div class="mb-5">

            <div *ngFor="let task of taskarray">

                      <p class="h2">  " {{task.title }}"</p>
                      <button class="btn btn-outline-dark btn-sm mybtn" type="button" name="button" (click)="deletetask(task.id)">Complete
                          </button>

                          <hr style="color:   white;  "> <br>
                </div>

                <br><br>

                <div class="progress">
                  <div class="progress-bar bg-success " role="progressbar" style="width: {{progress}}%; " aria-valuemin="0" aria-valuemax="100">{{progress}}</div>
                </div>




                        <!-- so here data is rendering like [Object Object].
                         but  when we specify the '| json'  here it means render data like a json file [key:value , key:value]   --->

          </div>
</div>




<!----
<h2>
  array =={{taskarray | json}}
array elements length :{{taskarray_lngth}}
progress {{progress}}
</h2>
-->
