<div class="container">
  <div class="text-center">

    <button class="btn-lg btn-dark display-1    ">Music Store </button>


  </div>


  <!-- here below is   Music Store
     after clicking on button a respective(mentioned) component is invoked. -->
<div class="mb-5">
  <nav class="navbar navbar-inverse bg-dark p-4 rounded-pill text-center">
    <div class="container-fluid">

      <button routerLink="/wplaylist" routerLonkActive="" class="btn-lg btn-secondary navbar-btn
         border-5  border-white   
      rounded-pill"> Warrior ⛈️^🦅 </button>

      <button routerLink="/flowstate-playlist" routerLonkActive="" class="btn-lg btn-danger navbar-btn      
      border-5  border-white     
      rounded-pill">Flow State 🌊 </button>

      <button routerLink="/energy-playlist" routerLonkActive="" class="btn-lg btn-danger navbar-btn     
       border-5  border-white     
      rounded-pill">Energy ⚡ </button>

      <button routerLink="/relax-playlist" routerLonkActive=""
        class="btn-lg btn-danger navbar-btn      border-5  border-white      rounded-pill">RelaX Vibes 😌</button>

      <button routerLink="/Evolve-playlist" routerLonkActive=""
        class="btn-lg btn-danger navbar-btn      border-5  border-white      rounded-pill     ">Evolving 🚀
      </button>
    </div>
  </nav>
</div>
</div>
