<div class="text-center my-3 ">


    <h1>Warrior-playlist</h1>
    <hr>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/w1QiFRGIoRQ" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>



    <iframe width="560" height="315"
        src="https://www.youtube.com/embed/videoseries?list=PLNnpjFpvbAWLlP6egpUUYYaOElStmVsIB" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <br>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/zN9IrXQ5Yuk" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <br>


    <iframe width="560" height="315" src="https://www.youtube.com/embed/VhkfnPVQyaY" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
        
    <iframe width="560" height="315" src="https://www.youtube.com/embed/HEf_xrgmuRI" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>

</div>